body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira Sans Condensed', sans-serif;
    background: #190528;
    overflow-x: hidden;
    outline: none!important;
}

a {
    color: white;
    text-decoration: none;
}
.conteiner {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.nav-conteiner {
    border-bottom: 1px solid #3c2b49;
}

.logo {
    width: 60px;
    height: 70px;
    background-image: url(./images/depositphotos_276646122-stock-illustration-gym-gymnasium-emblem-fitness-club.png);
    background-position: center;
    background-size: cover;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.link {
    font-size: 20px;
    padding: 10px 0;
}

.link a {
    margin-right: 20px;
    display: inline-block;
    border-bottom: none;
    transition:.6s;
}

.link a:hover {
    border-bottom: 2px solid #fff;
}

.sl {
    padding: 0 50px;
    padding-top: 10px;
}

.dl-text {
    position: absolute;
    top: 10px;
    left: 70px;
    z-index: 6;
}

.sl-opis {
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
}

.sl-opis-text {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
}

.block-wr {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
}

.block h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: wheat;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

.block {
    margin-bottom: 40px;
}

.text {
    color: wheat;
    line-height: 25px;
}

.text button {
    background: #b24ee1;
    border: none;
    color: wheat;
    padding: 20px 70px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    width: 50%;
}

.text button:hover {
    background: none;
    border-radius: 0;
}

.text button::before,
.text button::after {
    content: '';
}

.text button:hover::before,
.text button:hover::after {
    transition: all 0.7s ease;
    width: 100%;
    height: 2px;
    background: #b24ee1;
    position: absolute;
    left: 0;
}
.text button:hover::before {
    top: 0;
}
.text button:hover::after {
    bottom: 0;
}
.text-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.news {
    width: 30%;
    padding: 10px;
    opacity: .8;
    border-radius: 10px;
    background: none;
    transition: .6s;
    height: 100px;
    position: relative;
    padding-bottom: 20px;
}

.news a {
    display: block;
    height: 100%;
}
.news:hover {
    background: #b24ee1;
    opacity: 1;
}

.news::before {
    position: absolute;
    content: 'Подробнее->';
    bottom: 5px;
    right: 10px;
    color: wheat;
}

table {
    color: wheat;
    margin: auto;
}

th,
td {
    padding: 20px;
    font-size: 20px;
    text-align: right;
}
tr th:first-child,
tr td:first-child {
    text-align: left;
}

tr {
    border: 1px solid #c8b7cf;
}

.nwes-item {
    padding-top: 10px;
    display: flex;
}
.news-img {
    width: 500px;
    height: 100%;
}
.nwes-item .text {
    margin-left: 10px;
}

.comp {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.comp h2 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
}
.comp p {
    display: block;
    width: 100%;
}

.cena {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price {
    width: 30%;
    border-radius: 10px;
    background: #c8b7cf;
    transition: .6s;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .price::before {
    content: '';
    z-index: -1;
} */

.namber,
.cum {
    display: none;
    text-align: center;
}

.price:hover {
    background: #b24ee1;
}

.price:hover .text {
    display: none;
}

.price:hover .namber,
.price:hover .cum {
    display: block;
    width: 100%;
}
.price span {
    font-size: 20px;
}